body {
    margin: 0;
    padding: 0;
}

.hero-footer {
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: -48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-links {
    list-style: none;
    display: flex;
}

.awesome-site {
    background-color: #1F2937;
    padding-left: 200px;
}

.greeting {
    color: #f9FAF8;
    font-weight: bolder;
    font-size: 48px;
}