body {
    margin: 0;
}

.hero-footer {
    background-color: #1F2937;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-links {
    list-style: none;
    padding: 5px;
    display: flex;
}