body {
    margin: 0;
}

.hero-footer {
    background-color: #1F2937;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-links {
    list-style: none;
    display: flex;
}